---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}
---
permalink: /
title: ""
excerpt: "Students"
author_profile: true
redirect_from: 
  - /students/
  - /students.html
---

Current Graduate students
=========================    
- Berrenur Saylam, PhD Student, Thesis: Behavioral Markers via Wearable Devices, Bogazici University.
- Sümeyye Ağaç, PhD Student, Thesis: Resource Efficient, Sensor-Based Human Activity Recognition with Attention and Knowledge Distillation Mechanisms, Bogazici University.
- Egemen İşgüder, MSc Student, Thesis: Federated Transfer Learning for Wellbeing Monitoring with Wearable Devices, Bogazici University
- Ahmet Yıldırım, MSc Student, Thesis: Class-Incremental Continual Learning for Sensor-Based Human Activity Recognition, Bogazici University
- Eren Ohtaroğlu, MSc Student, Bogazici University.
- Rabia Gül Çelik, MSc Student, Bogazici University


Completed Theses
==================  
- Sevda Özge Bursa, Msc. Thesis, On-Device Deep Learning for Mobile and Wearable Computing, Co-advised with Assoc. Prof. Gülfem Işıklar Alptekin, Galatasaray University (2022).
- Ceren Baş, Msc. Thesis, Time Series Analysis With Deep Learning Approaches For Industry 4.0, Galatasaray University (2019).
- Hasan Can Volaka, Msc. Thesis, Continuous Authentication On Smartphones Through Behavioral Biometrics, Galatasaray University (2019).
- Okan Engin Başar, Msc. Thesis, Augmenting Authentication with Behavioral Biometrics in a Mobile Banking Application, Galatasaray University (2019).
- Merve Kaya, Msc. Thesis, Classification of Students’ Mood from Their Mobility, Co-advised with Assist. Prof. Ece Gelal Soyak, Bahçeşehir University (2019).
- Kadriye Doğan, Msc. Thesis, Mobile Device Identification Via Sensor Fingerprinting Based On User Behavior Analysis, Galatasaray University (2019).
- Sümeyye Ağaç, Msc. Thesis, Smoking Recognition Using Smartwatch Sensors, Galatasaray University (2019).
- Tonguç Çataklı, Msc. Thesis, Continuous Authentication with Behavioral Biometrics on Mobile Devices, Galatasaray University (2018).
- Murat Cihan Sorkun, Msc. Thesis, Time Series Forecasting on Solar Radiation Using Deep Learning, Galatasaray University (2018).
- Berrenur Saylam, MSc. Thesis, A Detailed Analysis of Human Activity Recognition Using Smartphone Motion Sensors, Galatasaray University (2017).
- Selek Ceren Çelik, MSc. Thesis, Semantic Place Prediction from Mobile and Activity Data, Galatasaray University (2016).
- Aykut Yiğitel, PhD Thesis, Green Wireless Communications, Co-advised with Prof.Dr. C. Ersoy, Bogazici University (2016).
- Yunus Emre Üstev, MSc. Thesis, User, Device, Orientation and Position Independent Human Activity Recognition On Smartphones, Co-advised with Prof. C. Ersoy, Bogazici University (2015).
- Didem Gündoğdu, MSc. Thesis: Countrywide Anomalous Incident Detection From Aggregated Mobile Phone Data, Co-advised with Assist. Prof. Albert Ali Salah, Bogazici University (2014).
- Erman Doğan, MSc. Thesis, Efficient Feature Extraction for Human Activity Recognition on Smartphones, Co-advised with Prof. C. Ersoy, Bogazici University (2013). 


