---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% include base_path %}
At the University of Twente, I teach in the BSc Technical Computer Science programme, including Module 4 "Data & Information", Module 5 "Operating Systems" and MSc TCS, including "Pervasive Computing", and I supervise MSc theses. My current courses are listed on my University of Twente profile.
<a href="https://people.utwente.nl/ozlem.durmaz?tab=education"> Current List of Courses </a>

<p> </p>
Courses I taught at Boğaziçi University and Galatasaray University:

{% for post in site.teaching reversed %} {% include archive-single.html %} {% endfor %}
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
